@import 'tailwindcss';
@theme {
  --color-main: #8e8e8e;
  --color-bg: #000;
  --color-text: #fff;

  --font-arab: var(--font-arab);
  --font-amiri: var(--font-amiri);
}
* {
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
}
:lang(ar),
[lang='ar'] {
  font-family: var(--font-arab);
}
