@import 'tailwindcss';
@theme {
  --color-main: #213452;
  --color-bg: #2e2e2e;
  --color-text: #e9dbbe;

  --font-main: var(--font-main);
  --font-mid: var(--font-mid);
  --font-kufi: var(--font-kufi);
  --font-icons: var(--font-icons);
  --font-num: var(--font-num);
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
}
